---
title:    "HTML Tidy Binary Releases"
---

<h1>HTML Tidy Binary Releases</h1>

<p class="note">
    Note! This is an experimentatl binaries release! This is a WIP.
</p>

{% for release in site.data.tidy %}
    <table class="directory">
        <thead>
            <tr>
                <td colspan="4">
                    <p>{{release.heading}} <a href="{{release.notes}}">(release notes)</a></p>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Last Modified</td>
                <td>Size</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {% for binary in release.binaries %}
            <tr>
                <td><a href="/binaries/binaries/{{release.path}}/{{binary.filename}}">{{binary.filename}}</a></td>
                <td>{{binary.modified}}</td>
                <td>{{binary.filesize}}</td>
                <td>{{binary.describe}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endfor %}

