---
title:    "HTML Tidy Binary Releases"
---

<h1>HTML Tidy Binary Releases</h1>

<p class="note">
    These are HTACG HTML Tidy official releases. Visit our
    <a href="https://github.com/htacg/tidy-html5">Github Repository</a>
    for source code for cutting edge versions.
</p>

{% for release in site.data.tidy %}
    <table class="directory">
        <thead>
            <tr>
                <td colspan="4">
                    <p>
                      {{release.heading}} 
                    	{% if {{release.notes != null}} %}
                    	<a href="{{site.baseurl}}/release_notes/{{release.notes}}" class="release_notes">(release notes)</a>
                    	{% endif %}
                    	<a href="https://github.com/htacg/tidy-html5/releases/tag/{{release.release}}" class="release_path">(official release)</a>
                    	<a href="https://github.com/htacg/tidy-html5/archive/{{release.release}}.zip" class="">(source .zip)</a>
                    	<a href="https://github.com/htacg/tidy-html5/archive/{{release.release}}.tar.gz" class="">(source .tar.gz)</a>
                    </p>
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td>Last Modified</td>
                <td>Size</td>
                <td>Description</td>
            </tr>
        </thead>
        <tbody>
            {% for binary in release.binaries %}
            <tr>
                <td><a href="https://github.com/htacg/tidy-html5/releases/download/{{release.release}}/{{binary.filename}}">{{binary.filename}}</a></td>
                <td>{{binary.modified}}</td>
                <td>{{binary.filesize}}</td>
                <td>{{binary.describe}}</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
{% endfor %}

